/data/original_data/case-fatality-rate-of-covid-19.csv
/data/2020-2022/case-fatality-rate-of-covid-19_2020_2022_20250430.csv
/data/analyses/case-fatality-rate-of-covid-19_2020_2022_20250430_analysis.txt
/data/2023-2024/case-fatality-rate-of-covid-19_2023_2024_20250430.csv
/data/analyses/case-fatality-rate-of-covid-19_2023_2024_20250430_analysis.txt
/data/analyses/case-fatality-rate-of-covid-19_full_20250430_analysis.txt
/data/original_data/covid-19-vaccine-doses-people-with-at-least-one-dose-people-with-a-full-initial-protocol-and-boosters-per-100-people.csv
/data/2020-2022/covid-19-vaccine-doses-people-with-at-least-one-dose-people-with-a-full-initial-protocol-and-boosters-per-100-people_2020_2022_20250430.csv
/data/analyses/covid-19-vaccine-doses-people-with-at-least-one-dose-people-with-a-full-initial-protocol-and-boosters-per-100-people_2020_2022_20250430_analysis.txt
/data/2023-2024/covid-19-vaccine-doses-people-with-at-least-one-dose-people-with-a-full-initial-protocol-and-boosters-per-100-people_2023_2024_20250430.csv
/data/analyses/covid-19-vaccine-doses-people-with-at-least-one-dose-people-with-a-full-initial-protocol-and-boosters-per-100-people_2023_2024_20250430_analysis.txt
/data/analyses/covid-19-vaccine-doses-people-with-at-least-one-dose-people-with-a-full-initial-protocol-and-boosters-per-100-people_full_20250430_analysis.txt
/data/original_data/cumulative-confirmed-covid-19-cases-per-million-people.csv
/data/2020-2022/cumulative-confirmed-covid-19-cases-per-million-people_2020_2022_20250430.csv
/data/analyses/cumulative-confirmed-covid-19-cases-per-million-people_2020_2022_20250430_analysis.txt
/data/2023-2024/cumulative-confirmed-covid-19-cases-per-million-people_2023_2024_20250430.csv
/data/analyses/cumulative-confirmed-covid-19-cases-per-million-people_2023_2024_20250430_analysis.txt
/data/analyses/cumulative-confirmed-covid-19-cases-per-million-people_full_20250430_analysis.txt
/data/original_data/cumulative-confirmed-covid-19-deaths-per-million-people.csv
/data/2020-2022/cumulative-confirmed-covid-19-deaths-per-million-people_2020_2022_20250430.csv
/data/analyses/cumulative-confirmed-covid-19-deaths-per-million-people_2020_2022_20250430_analysis.txt
/data/2023-2024/cumulative-confirmed-covid-19-deaths-per-million-people_2023_2024_20250430.csv
/data/analyses/cumulative-confirmed-covid-19-deaths-per-million-people_2023_2024_20250430_analysis.txt
/data/analyses/cumulative-confirmed-covid-19-deaths-per-million-people_full_20250430_analysis.txt
/data/original_data/cumulative-covid-19-tests-per-1000-people.csv
/data/2020-2022/cumulative-covid-19-tests-per-1000-people_2020_2022_20250430.csv
/data/analyses/cumulative-covid-19-tests-per-1000-people_2020_2022_20250430_analysis.txt
/data/2023-2024/cumulative-covid-19-tests-per-1000-people_2023_2024_20250430.csv
/data/analyses/cumulative-covid-19-tests-per-1000-people_2023_2024_20250430_analysis.txt
/data/analyses/cumulative-covid-19-tests-per-1000-people_full_20250430_analysis.txt
/data/original_data/daily-selected-new-confirmed-covid-19-cases-deaths-per-million-people.csv
/data/2020-2022/daily-selected-new-confirmed-covid-19-cases-deaths-per-million-people_2020_2022_20250430.csv
/data/analyses/daily-selected-new-confirmed-covid-19-cases-deaths-per-million-people_2020_2022_20250430_analysis.txt
/data/2023-2024/daily-selected-new-confirmed-covid-19-cases-deaths-per-million-people_2023_2024_20250430.csv
/data/analyses/daily-selected-new-confirmed-covid-19-cases-deaths-per-million-people_2023_2024_20250430_analysis.txt
/data/analyses/daily-selected-new-confirmed-covid-19-cases-deaths-per-million-people_full_20250430_analysis.txt
/data/original_data/share-of-people-who-received-at-least-one-dose-of-covid-19-vaccine.csv
/data/2020-2022/share-of-people-who-received-at-least-one-dose-of-covid-19-vaccine_2020_2022_20250430.csv
/data/analyses/share-of-people-who-received-at-least-one-dose-of-covid-19-vaccine_2020_2022_20250430_analysis.txt
/data/2023-2024/share-of-people-who-received-at-least-one-dose-of-covid-19-vaccine_2023_2024_20250430.csv
/data/analyses/share-of-people-who-received-at-least-one-dose-of-covid-19-vaccine_2023_2024_20250430_analysis.txt
/data/analyses/share-of-people-who-received-at-least-one-dose-of-covid-19-vaccine_full_20250430_analysis.txt
